<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CAR BRAND IDENTIFICATION</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link rel="stylesheet"  href="{{url_for('static',filename='css/style.css') }}">
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1 class="h1">KNOW THE CAR BRAND</h1>
  <h3 class="h3">Capture/Upload</h3>
  <h4 class="cau">Caution: Make sure you capture only the emblem with no other car parts & do not capture picture from another screen</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('upload')}}"method="post" enctype="multipart/form-data">
      
      <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg" onchange="loadFile(event)" >
      <p><img id="output" class="prev" /></p>
<p><button for="imageUpload" >IDENTIFY</button></p>


      
    </form>
    

    <script>
      var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
      };
      </script>
    

   <br>
   <br>
   <img id="output" width="200" />
        <h3 class="result">{{ prediction_text }}</h3>
        
   
 </div>
 

 <div class="watermark">
   Created by Preetham
 </div>


</body>
</html>
